:root{
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-size: calc(1vw + 0.6em);
}
body{
    background: rgb(159, 163, 163);
}
.wrapper{
    max-width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
h1{
    font-size: 2em;
}
.container{
    width: 100%;
}
input{
    display: none;
}
.item__header{
    background: rgb(34, 69, 83);
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    padding: 0 1em;
    font-weight: 700;
    transition: all .5s ease;

}
label{
    display: block;
    cursor: pointer;
}
.btn{
    opacity: 0;
    transition: all .5s ease;
}
.mem__img{
    overflow: hidden;
    max-width: 50%;
    max-height: 0;
    margin: 0 auto;
    display: block;
    padding: 0.2em 0;
    transition: all .5s ease-out;
    cursor: pointer;
}


input:checked ~ label .mem__img{
    max-height: 100vh;
}
input:checked ~ label .item__header .btn{
    transform: rotate(45deg);
}
input:checked ~ label .item__header{
    color: white;
}
label:hover .mem__img{
    max-height: 100vh;
}
label:hover .btn{
    transform: rotate(45deg);
    opacity: 1;
}
.container:hover .btn{
    opacity: 1;
    color: white;
}
.container:hover{
    color: white;
}

